
body 
{
  background-image: linear-gradient( rgb(102, 102, 102), rgb(38, 38, 38));
  margin: 0px;
  font-family: Copperplate, Papyrus, fantasy;
}

/* menu */

ul {
  list-style-type: none;
  margin: 10px;
  margin-top: 30px;
  padding: 0;
  font-size: 70px;
}

li {
  display: inline;
  margin: 10px;
  cursor: pointer;
  font-size: 200%;
  font-style: inherit;
  flex-grow: inherit;
  font-size: larger;
}

li:hover {
  font-weight: bold;
}

.Content
{
 
  text-align: center;
  background: rgb(88, 111, 145);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
  width: 40%;
  border-radius: 3rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  margin-left: 30%;
  margin-top: 20%;
}

/* WelcomeDiv */

.WelcomeDiv .btn1 {
  position: absolute;
  top: 80%;
  left: 56%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 30px 70px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.WelcomeDiv .btn2 {
  position: absolute;
  top: 80%;
  left: 44%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 30px 70px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.WelcomeDiv .btn1:hover {
  background-color: black;
}
.WelcomeDiv .btn2:hover {
  background-color: black;
}


#logo{
position:absolute;
top:0;
left:0;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}













h1{
	color: black;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 180%;
	margin: 20px;
}

h3{
	color: black;;
        font-family: Copperplate, Papyrus, fantasy;
	font-size: 500%;
	margin: 80px;
	text-align:right;
	font-weight: bold;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

#Button {
Height: 1000px;
Width: 180px;
background-color: #b3b3ff;
font-family: Copperplate, Papyrus, fantasy;
font-size: 18px;
color: #FFFFFF;
}

#Button:hover {
background-color: #808080;
font-family: Copperplate, Papyrus, fantasy;
}


#Button:hover {
background-color: #808080;
font-family: Copperplate, Papyrus, fantasy;
}


footer{
  top: 80%;
  left: 56%;
}
