
body 
{
  /*background-image: linear-gradient( rgb(102, 102, 102), rgb(38, 38, 38));*/
  margin: 0px;
  font-family: Copperplate, Papyrus, fantasy;
  overflow: hidden; /* Hide scrollbars */
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  
  
}

/* menu */

ul {
  list-style-type: none;
  margin: 10px;
  margin-top: 10px;
  padding: 0;
  font-size: 70px;
}

li {
  display: inline;
  margin: 10px;
  cursor: pointer;
  font-size: 200%;
  font-style: inherit;
  flex-grow: inherit;
  font-size: larger;
}

li:hover {
  font-weight: bold;
}

.Content
{
   text-align: center;
   color:white;
   overflow-y: hidden; /* Hide vertical scrollbar */
   overflow-x: hidden; /* Hide horizontal scrollbar */
}
.Menu
{
 color:white;
}

.footer
{
  color: white;
}


/* WelcomeDiv */

.WelcomeDiv .btn1 {
  position: absolute;
  top: 80%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 2% 5%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.WelcomeDiv {
    /*background-image: url('images/CookieEater.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
.WelcomeDiv .btn2 {
  position: absolute;
  top: 80%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 2% 5%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.WelcomeDiv .btn1:hover {
  background-color:blue;
}
.WelcomeDiv .btn2:hover {
  background-color:blue;
}


#logo{
position:absolute;
top:0;
left:0;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}


h1{
	color: white;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 180%;
  margin-top: 20%;
}

h3{
	color: white;;
  font-family: Copperplate, Papyrus, fantasy;
	font-size: 500%;
	margin: 80px;
	text-align:right;
	font-weight: bold;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

#Button {
Height: 1000px;
Width: 180px;
background-color: #b3b3ff;
font-family: Copperplate, Papyrus, fantasy;
font-size: 18px;
color: #FFFFFF;
}

#Button:hover {
background-color: #808080;
font-family: Copperplate, Papyrus, fantasy;
}


#Button:hover {
background-color: #808080;
font-family: Copperplate, Papyrus, fantasy;
}


footer{
  top: 80%;
  left: 56%;
}


#about {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 50%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: grey; Fallback color */

}

.AboutDiv {
  margin: 2%;
  margin-left: 20% ;
  border: 7px solid rgb(14, 11, 219);
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: rgba(76, 208, 231, 0.7);
  color:#f5f5f4 ;
}

.close {
  color:rgb(58, 13, 221);
  margin-top: 0%;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.closeAbout:hover,.closeAbout:focus {
color: rgb(58, 13, 221);
cursor: pointer;
}

